header, section, footer, aside, nav {
    display: block;
}

* {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(62, 61, 61);
}
body {
    background-color: #96A78D;
}
header {
    text-align: center;
}

/* css for each setlist */
/* Used for main setlist page AND past set list page*/
article {
    border: 1px solid black;
    background-color: #B6CEB4;
    width: 90%;
    padding: 1%;
    margin: auto;
    margin-bottom: 3%;
}
hgroup{
    text-align: center;
}
table {
    width: 90%;
    text-transform: capitalize;
    margin: auto;
}
td {
    width: 45%;
    vertical-align: top;
}
th {
    text-transform: uppercase;
    border-bottom: 1px solid;
}
/* css setlist END */

nav li {
    display: inline;
    border: 1px solid black;
    background-color: #B6CEB4;
    padding: 0.7%;
}

nav ul {
    padding: 0%
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
}

aside {
    text-align: center;
}