header, section, footer, aside, nav {
    display: block;
}
* {
    font-family:'Courier New', Courier, monospace;
}
header {
    text-align: center;
}
article {
    width: 80%;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 1%;
    margin: auto;
    margin-bottom: 3%;
}

.setlists article hgroup{
    text-align: center;
}
table {
    width: 90%;
    text-transform: capitalize;
    margin: auto;
}
td {
    width: 45%;
}
th {
    text-transform: uppercase;
    border-bottom: 1px solid;
}

nav li {
    display: inline;
}
